body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}

.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-recipies p{
    text-align: center;
}
.my-recipies h1{
    text-align: center;
}
.middle-width{
    border: 1px solid aquamarine;
    width: 33.33%;
    padding-left: 10px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 60px 10px 300px teal;
    margin: 10px;
}
footer{
    background-color: black;
    padding: 5px;
    text-align: center;
    color: white;
}